.service-item p{
    color: grey;
    margin-top: 20px;
}

.service-item:hover p,
.service-item:hover {
    color: #FFFFFF;
}

.serviceHiring{
    padding: 20px 100px;
}
.serviceHiring h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Afacad';
    font-weight: 900;
    margin-bottom: 50px;
}

.serviceHiring-item{
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 8px 6px -6px black;
    background: #f6f4f9;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    margin: 1rem 0.5rem;
    color: grey;
}

.serviceHiring-item:hover{
    background: #5500ff;
    transition: 0.5s;
}
.serviceHiring-item:hover p{
    color: white;
}

.serviceHiring {
    animation: fadeInUp 1s ease-in-out;
    visibility: visible;
}

@keyframes fadeInUp {
    from {
        opacity: 1;
        transform: translateY(20px);
    }

    to {
        opacity: 0;
        transform: translateY(0);
    }
}


@media (max-width:991px) {
    .serviceHiring{
        width: 100%;
        padding: 50px 40px;
        margin-left: -10px;
    }
    .serviceHiring-item{
        border-radius: 10px;
        padding: 30px;
    }
}
